.slot{
    background: darkgray;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 80px;
    padding: 2px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.busy{
    background: red;
}